<h5>Students Table</h5>
<label for="">ID:</label>
<input type="text" [(ngModel)]="stu.id"/>
<label for="">name:</label>
<input type="text" [(ngModel)]="stu.name"/>
<label for="">age:</label>
<input type="text" [(ngModel)]="stu.age"/>
<label for="">depNo:</label>
<input type="text" [(ngModel)]="stu.depNo"/>
<button (click)="Add()">Add</button>

<table class="table table-dark table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>dep NUM</th>
            <th>Action</th>
        </tr>
    </thead>    
    <tbody>
        <tr *ngFor="let item of students">
            <td>{{item.id }}</td>
            <td>{{item.name}}</td>
            <td>{{item.age }}</td>
            <td>{{item.depNo}}</td>
            <td>
                
                <button (click)='show(item.id)' class="btn btn-info" >Details</button>
                <button (click)='deleteStudent(item.id)'  class="btn btn-danger" >Delete</button>
                <button (click)='editStudent(item.id)'  class="btn btn-primary" >Edit</button>
                

            </td>
            


        </tr>

    </tbody>
  </table>
  <h5>{{showStu.id}},{{showStu.name}},{{showStu.age}},{{showStu.depNo}}</h5>

  <div class="edittool" *ngIf="editTool">
    <label for="">name:</label>
    <input type="text" [(ngModel)]="editStu.name"/>
    <label for="">age:</label>
    <input type="text" [(ngModel)]="editStu.age"/>
    <label for="">depNo:</label>
    <input type="text" [(ngModel)]="editStu.depNo"/>
    <button (click)="save()">save</button>

</div>
{{names | arraySplice:'mohamed'}}

      
